{% load  static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IBM Watson Assistant</title>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" >

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">



</head>
<body>
<h1 class="text-center">IBM WATSON ASSISTANT API INTEGRATION SUCCESS</h1>
<h1>Took me 5 hours to integrate API and ajax</h1>
    {{ ans }}


<div class="container">
	<div class="row">
	 <div id="Smallchat">
    <div class="Layout Layout-open Layout-expand Layout-right" style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
      <div class="Messenger_messenger">

      <div style="overflow: hidden;">
        <div class="Messenger_header">
          <h3 class="Messenger_prompt">SoluBot</h3>
            <i class="fa fa-phone"style="margin-left: 175px;"></i>
            <span class="chat_close_icon">
                <i class="far fa-window-close"></i>

        </span>
        </div>
           <div class="Messenger_header" >
              <i class="fas fa-circle fa-0.2x" style="color: greenyellow;font-size: 6px;"></i>
               <h5 class="typing_online">online</h5>
               <h5 class="typing">typing....</h5>
          </div>
    </div>



        <div class="Messenger_content">
          <div class="Messages">
            <div class="Messages_list" id="Messages_list">
            <ul></ul>
            </div>
          </div>



                <form action="#" method="GET" class="form">
              {% csrf_token %}
              {{ form.as_p }}



           <div class="Input Input-blank">

            <textarea class="Input_field" name="usermsg" id="usermsg" placeholder="Type a message..." style="height: 20px;" ></textarea>

            <button class="Input_button Input_button-send" type="submit" id="submitmsg" >

              <div class="Icon" style="width: 18px; height: 18px;">
                <svg width="57px" height="54px" viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
                  <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                    <path d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C50.8414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z" id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                  </g>
                </svg>
              </div>
            </button>
          </div>

                </form>

        </div>

      </div>

    </div>

{#<img src="{% static 'img/chat.png' %}"  alt="">#}


    <!--===============CHAT ON BUTTON STRART===============-->
    <div class="chat_on">
        <span class="chat_on_icon">
        <img src="{% static 'admin/img/icon-clock.svg' %}" style="width: 43px;height: 59px;" alt="">
    </span> </div>
    <!--===============CHAT ON BUTTON END===============-->
  </div>
	</div>
</div>


<script src="{% static 'js/chatbot.js' %}"></script>


</body>
</html>